

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
section{
    margin-top: 20px;
}
.banner{
    background-image: url(./img/lemon-pie\ 1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 343px;

    color: #fff;
    padding: 20px;
}
h1{
    font-weight: bold;
    font-size: 40px;
}

